.container {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.logo {
  font: 1em sans-serif;
  font-size: xx-large;

  text-align: center;

}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  font: 1em sans-serif;

  /* Uniform size & alignment */
  display: inline-block;
  width: 100px;
  text-align: right;
}

label[for="info"] {
  font: 1em sans-serif;

  padding-left: 100px;
  padding-bottom: 0px;
  /* Uniform size & alignment */
  display: inline-block;
  width: 250px;
  text-align: left;
}

label[for="mid"] {
  font: 1em sans-serif;

  /* Uniform size & alignment */
  display: inline-block;
  white-space: nowrap;
  width: auto;
  text-align: right;
}

label[for="high"] {
  font: 1em sans-serif;

  /* Uniform size & alignment */
  display: inline-block;
  white-space: nowrap;
  width: auto;
  text-align: right;
}

input[type="text"] {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 280px;

  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input[type="number"] {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 55px;
  padding-top: 0px;

  /* box-sizing: border-box; */

  /* Match form field borders */
  /* border: 1px solid #999; */
}

input:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 97px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
  font: 1em sans-serif;
  width: 70px;

}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  margin-left: 10px;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
} 
